/*основной текст*/
body {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.19;

    color: #FFFFFF;
}

/*заголовки*/
h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;
    color: #FFFFFF;

    @media screen and (min-width: 768px) {
        font-size: 56px;
        line-height: 1;
    }

    @media screen and (min-width: 1280px) {

        margin-bottom: 50px;
        font-size: 36px;
        line-height: 1.16;
    }
}

h2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 8px;

    @media screen and (min-width: 768px) {
        font-size: 24px;
        line-height: 1;
        color: #86E543;

        margin-bottom: 32px;
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 32px;
    }
}

h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.19;

    @media screen and (min-width: 768px) {
        font-size: 24px;
        line-height: 1;
    }
}

.article__title {
    text-align: left;
}

.article__block {
    margin-top: 20px;

    @media screen and (min-width: 1280px) {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;

        .article__name {
            display: flex;
            margin: 0;
        }

        .article__data {
            display: flex;
            margin: 0;
        }
    }
}

.article__img-mobile {
    margin-top: 16px;

    @media screen and (min-width: 767px) {
        display: none;
    }
}

.article__img-tab-plus {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
        float: left;
        margin-top: 24px;
        margin-right: 40px;
        margin-left: auto;
        margin-bottom: 16px;
    }

    @media screen and (min-width: 1280px) {
        margin-top: 54px;
        margin-right: 121px;
        margin-bottom: 48px;
    }
}

.article__data {
    font-weight: 600;
    font-size: 16px;
    line-height: 1;

    color: #8D9289;

    margin-bottom: 8px;

    @media screen and (min-width: 768px) {
        font-size: 24px;
        line-height: 1;

        margin-bottom: 16px;
    }
}

.article__list {
    text-align: left;

    & p {
        margin-bottom: 0;
        margin-top: 0;
    }

    & ol {
        padding-left: 15px;
            @media screen and (min-width: 768px) {
                padding-left: 25px;
            }
    }

    @media screen and (min-width: 768px) {
        color: #86E543;
    }

    @media screen and (min-width: 1280px) {
        margin-top: 50px;
    }
}

.margin_block {
    display: none;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        display: block;
        height: 130px;
    }
}

.container.article {

    & p {
        @media screen and (min-width: 768px) {
            font-size: 24px;
            line-height: 1.17;
        }
    }

    & ol {
        @media screen and (min-width: 768px) {
            font-size: 24px;
            line-height: 1.17;
        }
    }
}